/* Setting up the grid for Home and Product Info*/
.grid{
    display: grid;
    grid-template: repeat(11, 75px) / repeat(13, 93px);
    grid-gap: 20px 20px;
}

/* Set position of logo and text in Nav Bar*/
.logo {
    grid-column: 2/span 3;
    grid-row: 1;
    position: relative;
    text-align: center;
}
.logoImg{
    position: relative;
}
.logoText{
    left: 0;
    position:absolute;
    text-align:center;
    width: 100%;
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 48px;
    line-height: 0;
    align-items: center;
    text-align: center;
    color: #FE938C;
}

/* Set up Nav Bar */
.navBar{
    grid-column: 8 / span 5;
    grid-row: 1;
    text-align: left;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    display: flex;
    align-items: center;
    flex-basis: 132px;
    justify-content: space-around;

    color: #252323;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* need to move up between grid rows*/
#menuLine{
    position: absolute;
    left: 0;
    top: 92px;
}

/* Home Page Content */

.headerImg{
    width: 1216px;
    height: 265px;

    grid-row-start: 3;
    grid-column: 2 / 12;
    background: url(Rolls_Header.jpg);
    border: 4px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

#leftImg {
    grid-column: 2 / span 3;
    grid-row-start: 7;
}

#rightImg {
    grid-column: 10 / span 3;
    grid-row-start: 7;
}

#Welcome {
    grid-column: 5 / span 5;
    grid-row: 6 / span 3;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 121px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE938C;
}

.location {
    grid-column: 4 / span 3;
    grid-row: 9 / span 3;
}

.hour {
    grid-column: 8 / span 3;
    grid-row: 9 / span 3;
}

.subtitle {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
    text-align: center;
    text-decoration-line: underline;
    color: #F5BC3A;
}

.detail{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #252323;
}

#delivery {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    color: #252323;
}



/* Product Browsing Page */

.gridPB{
    display: grid;
    grid-template: repeat(17, 75px) / repeat(13, 93px);
    grid-gap: 20px 20px;
}

.menuHeader {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 11;
    grid-row: 3 / span 2;
    text-align: center;
    background: url("Menu_Header.jpg");
    border: 4px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
    text-align:center;
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 48px;
    line-height: 0;
    align-items: center;
    text-align: center;
    color: #FE938C;
}


.prodImg{
    width: 100%;
    height: 100%;
    border: 2px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
}

.orig{
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
    background: url("original.jpg");
}

.origGF{
    grid-column: 2 / span 3;
    grid-row: 10 / span 3;
    background: url("origGF.jpg");
}

.blackberry{
    grid-column: 2 / span 3;
    grid-row: 14 / span 3;
    background: url("blackberry.jpg");
}

.caramelPecan{
    grid-column: 8 / span 3;
    grid-row: 6 / span 3;
    background: url("caramelPecan.jpg");
}

.pumpkinSpice{
    grid-column: 8 / span 3;
    grid-row: 10 / span 3;
    background: url("pumpkinSpice.jpg");
}

.walnut{
    grid-column: 8 / span 3;
    grid-row: 14 / span 3;
    background: url("walnut.jpg");
}

.prodName{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #F5BC3A;
}

.origTxt{
    grid-column: 5 / span 3;
    grid-row: 6 / span 3
}

.origGFTxt{
    grid-column: 5 / span 3;
    grid-row: 10 / span 3;
}

.blackberryTxt{
    grid-column: 5 / span 3;
    grid-row: 14 / span 3;
}

.caramelPecanTxt{
    grid-column: 11 / span 3;
    grid-row: 6 / span 3;
}

.pumpkinSpiceTxt{
    grid-column: 11 / span 3;
    grid-row: 10 / span 3;
}

.walnutTxt{
    grid-column: 11 / span 3;
    grid-row: 14 / span 3;
}

.prodPrice{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    align-items: center;

    color: #252323;
}

.origPrice{
    grid-column: 5 / span 3;
    grid-row: 7 / span 3
}

.origGFPrice{
    grid-column: 5 / span 3;
    grid-row: 11 / span 3;
}

.blackberryPrice{
    grid-column: 5 / span 3;
    grid-row: 15 / span 3;
}

.caramelPecanPrice{
    grid-column: 11 / span 3;
    grid-row: 7 / span 3;
}

.pumpkinSpicePrice{
    grid-column: 11 / span 3;
    grid-row: 11 / span 3;
}

.walnutPrice{
    grid-column: 11 / span 3;
    grid-row: 15 / span 3;
}


/* Product Detail Page */
.back{
    grid-column: 2;
    grid-row: 3;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #252323;
}

.cpImg {
    width: 100%;
    height: 100%;
    background: url(cpImgLarge.png);
    border: 2px solid #252323;
    box-sizing: border-box;
    border-radius: 60px;
    grid-column: 3 / span 5;
    grid-row: 3 / span 5;
}

.desc{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #252323;
    grid-column: 3 / span 5;
    grid-row: 8 / span 3;
}

.caramelPecanName{
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 91px;
    display: flex;
    align-items: center;
    color: #FE938C;
    grid-column: 8 / span 4;
    grid-row: 3 / span 2;
}

.options{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    display: flex;
    align-items: center;
    color: #252323;
    grid-column: 8;
}

.quantity{
    grid-row: 5;
}

.glaze{
    grid-row: 6;
}

.delivery{
    grid-row: 7;
}

/* Dropdown Button */

.btnQty, .btnGlaze, .btnDelivery {
    width: 100%;
    height: 100%;
    background: #F5BC3A;
    border-radius: 15px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #252323;
}

.btnQty{
    grid-row: 5;
}

.btnGlaze{
    grid-row: 6;
}

.btnDelivery{
    grid-row: 7;
}

.onebtn, .none, .pickupbtn{
    grid-column-start: 9;
}

.threebtn, .sugarmilk, .deliverybtn{
    grid-column-start: 10;
    filter: opacity(50%);
}

.sixbtn, .vanillamilk{
    grid-column-start: 11;
    filter: opacity(50%);
}

.twelvebtn, .doublechoc{
    grid-column-start: 12;
    filter: opacity(50%);
}

.addToCart{
    width: 100%;
    height: 100%;
    background: #FE938C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 37.5px;
    grid-column: 9 / span 4;
    grid-row: 9;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 71px;
    color: #252323;
}
